{% extends 'EXPERT/expertindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-hover">
    <tr>
      <td width="306"><div align="center"><a href="">MANAGE DATASET</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/addtips">ADD TIPS</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/studymaterial">PROVIDE STUDY MATERIALS</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/doubtandreply">VIEW DOUBTS AND SEND REPLIES</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/guidancetoparent">PROVIDE GUIDANCE TO PARENTS</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/childassmnt">PROVIDE CHILD ASSESSMENT REPORT</a></div></td>
    </tr>
    <tr>
      <td><label>
          <div align="center">
       <a href="/">Logout</a>
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>

